#canvas {
  width: 800px;
  height: 500px;
  /*border: 1px solid #000;*/
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -250px;
  margin-left: -400px;
  background: #a0d3e5;
  background: -webkit-radial-gradient(circle, #a0d3e5, #5999d1); /* Safari */
  background: -o-radial-gradient(circle, #a0d3e5, #5999d1); /* Opera 11.6 to 12.0 */
  background: -moz-radial-gradient(circle, #a0d3e5, #5999d1); /* Firefox 3.6 to 15 */
  background: radial-gradient(circle, #a0d3e5, #5999d1); /* Standard syntax */
}

#step {
  width: 300px;
  height: 100px;
}

.title {
  font-size: 100px;
  font-weight: lighter;
  position: absolute;
  left: 50%;
  margin-top: 100px;
  margin-left: -400px;
}
